<div style="border: 1px solid blue;">
  <div>
    <label
      >id:
      <input [ngModel]="hero.id" placeholder="id" />
    </label>
  </div>
  <div>
    <label
      >name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
  <button (click)="addHero(hero.name, hero.id)">Add hero</button>
  <h2>Heroes:</h2>
  <div class="heroes">
    <div
      *ngFor="let hero of heroes; let i = index"
      class="item-hero"
      (click)="onClickItem(hero, i)"
    >
      <p class="badge">{{ hero.id }}.{{ hero.name }}</p>
    </div>
  </div>
</div>
