<div style="border: 1px solid blue;">
  <h2>{{ hero.name | uppercase }}</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div><span>name: </span>{{ hero.name }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
  <h2>Heroes:</h2>
  <div class="heroes">
    <div
      *ngFor="let hero of heroes; let i = index"
      class="item-hero"
      (click)="onClickItem(hero, i)"
    >
      <p class="badge">{{ hero.id }}.{{ hero.name }}</p>
    </div>
  </div>
</div>
