<div style="border: 1px solid blue;">
  <div>
    <label
      >id:
      <input [ngModel]="hero.id" placeholder="id" />
    </label>
  </div>
  <div>
    <label
      >name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
  <button (click)="addHero(hero.name, hero.id)">Add hero</button>
  <h2>Heroes:</h2>
  <div class="heroes">
    <a
      *ngFor="let hero of heroes; let i = index"
      class="item-hero"
      [title]="hero.name + ' details'"
      style="color: red; text-decoration: none;"
      [routerLink]="['/heros', hero.id]"
    >
      {{ hero.id }}.{{ hero.name }}
    </a>
  </div>
</div>
